@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Dancing+Script:wght@700&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@300;400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Dancing+Script:wght@700&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@300;400&family=Ysabeau+Infant:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Dancing+Script:wght@700&family=Noto+Sans:wght@300&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@300;400&family=Ysabeau+Infant:ital,wght@1,100;1,200&family=Ysabeau+Office:wght@200&display=swap');
 html {
        font-size: 62.5%;
    }

    body {
       font-family: 'Montserrat', sans-serif;
       }        
    header {
        background-color: black;
            background-size:cover;
    }

    .navbar {
        height:10rem;
        font-size: 2rem;
        display: flex;
        padding-left:2px;
        padding-top:2rem;
        border:solid;
        border-color:black;
  }

    .navbar .logo {
        text-transform: uppercase;
    }

    .navbar .logo .first{
        color: red;
    }

    .navbar .logo .second {
        color: yellow;
    }

    .navbar ul{
        display: flex;
        justify-content: space-between;
         
    }

    .navbar ul li {
/*        border: 2px solid white;*/
        list-style-type: none;
        display: inline-block;
        margin-right:3.5rem;
        border-bottom: none;
        padding:4px;
    }

    .navbar ul li a {
        text-transform: uppercase;
        color:lightgrey;
        font-size:2.5rem;
        text-decoration: none;
  font-family: 'Belanosima', sans-serif;
  letter-spacing:2px;
        font:Proxima Nova;
    }

    .navbar ul li input {
        padding: 0.5rem;
        border-radius: 1rem;
    }

    .navbar ul li a:hover {
        color:yellow;
    }
    .container{

        background-image:url("Tour_travel.png");
        background-size:cover;
    display: flex;
    justify-content:left;
    padding-left:7rem;
    height: 100vh;
    }
    .container p{
        font-size:3rem;
        
    }
    .container h1{
        font-family: 'Dancing Script', cursive;
        
        src: url('698242188-Lato-Bla.eot');
        src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
        url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
        url('698242188-Lato-Bla.woff') format('woff'),
        url('698242188-Lato-Bla.ttf') format('truetype');
        font-weight:normal;
        font-style: normal;
        font-size:5rem;
        color:powderblue;
        padding-left:0rem;
       
    }
    body{
            background-color:#f3f6fd ;
            font-size: 11.5px;
            font-weight: bold;
            color: rgb(189, 196, 203);
        }
        .footer{
        background-color:black;
        text-align: center;
        padding: 2rem;
    }

    .footer i {
        padding-left:3rem;
        padding-bottom: 1rem;
        color:white;
    }
    .social-media-links a{
        padding:2rem;
        text-decoration:none;
    }
    .fa {
  padding: 1rem;
  font-size: 30px;
  width: 50px;
  text-align:left;
  text-decoration:none;
  
}
.main{
    display:inline;
    padding-top:0rem;
   
}
.main p{
    font-size:5rem;
}
#two h1{
    font-size:13rem;
    color:white;
    padding-left:53rem;
   
}
#two h1 Tours{
    color:red;
}
#two {
    padding-top:0rem;
     justify-content:center;
      padding-bottom: 2rem;
}
#one{
    padding-top:0rem;
    font-size: 1.9rem;
}
#one p{
    font-family: 'Roboto Condensed', sans-serif;
}
.highlight {
      color:red;
    }
.highlight2 {
      color:yellow;
    }

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
  background: black;
  color:white;
}

.fa-twitter {
  background:black;
  color: white;
}

.fa-instagram {
  background:black;
  color: white;
}