@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Neonderthaw&family=PT+Sans&family=Spectral:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Dancing+Script:wght@700&family=Noto+Sans:wght@300&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@300;400&family=Ysabeau+Infant:ital,wght@1,100;1,200&family=Ysabeau+Office:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Dancing+Script:wght@700&family=Montserrat:wght@500&family=Noto+Sans:wght@300&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto:wght@300;400&family=Ysabeau+Infant:ital,wght@1,100;1,200&family=Ysabeau+Office:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Dancing+Script:wght@700&family=Montserrat:wght@500&family=Noto+Sans:wght@300&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto:wght@300;400&family=Ubuntu&family=Ysabeau+Infant:ital,wght@1,100;1,200&family=Ysabeau+Office:wght@200&display=swap');
 html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    
}


header {
        background-color:black;
            background-size:cover;
    }

    .navbar {
        height:10rem;
        font-size:2rem;
        display: flex;
        padding-left:1px;
        padding-top:2rem;
        border:solid;
        border-color:black;
  }


.navbar ul{
        display: flex;
        justify-content:space-between;
         
    }

    .navbar ul li {
        list-style-type: none;
        display:inline-block;
        margin-right:3.5rem;
        border-bottom: none;
        padding:4px;
    }

    .navbar ul li a {
        text-transform: uppercase;
        color:lightgrey;
        font-size:2.5rem;
        text-decoration: none;
        
        font-family: 'Belanosima', sans-serif;
  letter-spacing:2px;
        letter-spacing:2px;
        font:Proxima Nova;
    }

    .navbar ul li input {
        padding:0.5rem;
        border-radius:1rem;
    }

    .navbar ul li a:hover {
        color:yellow;
    }

.container{
     background-image:url("image5.png");
        background-size:cover;
    display: flex;
    padding-left:7rem;
    height: 100vh;
}
.box {
      width: 230px;
      height: 130px;
      background-color: black;
      color: white;
      text-align: center;
      line-height: 100px;
      margin: 10px;
      display: inline-block;
       overflow: hidden;
        border-radius:30%;
    }
    .one{
        padding-left:25rem;
        font-size:2rem;
    }
    .one h1{
        text-align: center;
        font-size:10rem;
        color:white;
        -webkit-text-stroke: 2px black; 
        text-stroke: 2px black;
        font-family: 'Belanosima', sans-serif;
    }
    
.footer{
        background-color:black;
        text-align: center;
        padding: 2rem;
    }

    .footer i {
        padding-left: 3rem;
        color:white;
    }
    .social-media-links a{
        padding:2rem;
        text-decoration:none;
    }
    .fa {
  padding: 1rem;
  font-size: 30px;
  width: 50px;
  text-align:left;
  text-decoration:none;
  
}


.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
  background:#000033;
  color:white;
}

.fa-twitter {
  background:#000033;
  color: white;
}

.fa-instagram {
  background:#000033;
  color: white;
}
.footer p{
    color:white;
}
.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
  background: black;
  color:white;
}

.fa-twitter {
  background:black;
  color: white;
}

.fa-instagram {
  background:black;
  color: white;
}